.data-text {
  color: royalblue;
}

.bad-text {
  color: red;
}

.other-text {
  color: lightcoral;
}

.my-thought {
  color: lightgreen;
}

.text-blue {
  color: #1b91ff;
}

.text-green {
  color: #17ff2e;
}

.text-red {
  color: #ff2c2d;
}

.text-white {
  color: white;
}
/* .container {
  display: grid;
  grid-auto-flow: column;
} */

.container {
  display: flex;
}
.col {
  flex: 1;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: xx-large;
}
